body {
    margin: 0px;
    padding: 0px;
}
.bgimage {
    background-image: url("./Images/ios-background-2.jpg");
    width: 100%;
    height: 100vh;
    display: flow-root;
}
.div {
    /* font-family: unset; */
    font-size: 80px;
    width: 100%;
    color: white;
    text-align: center;
    /* margin-top: 200px; */
    /* display: inline-block; */
    font-weight: 700px;
    margin-bottom: 30px;
    text-shadow: 0 0 2px #222, 0 0 2px #222;
    line-height: 1.2;
}
.div0 {
    font-family:monospace;
    font-size: 28px;
    color:  #D8D8D8;
    text-shadow: 0 0 2px #222, 0 0 2px #222;
    text-align: center;
    /* margin-top: 20px; */
    width: 100%;
    margin-bottom: 30px;
}
.button {
    color: white;
    /* text-align: center; */
    border: none;
    text-decoration: none;
    background-color: #ff6b53;
    padding: 10px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    /* margin-left: 44%; */
    text-transform: uppercase;
    box-shadow: 0 5px 0 #C2503D;
}
.div01 {
    padding: 0 30px;
    position: absolute;
    z-index: 9998;
    margin: 0 auto;
    width: 100%;
    top: 30%;
    display: table;
    text-align: center;
}
.bgimage01 {
    background-image: url("./Images/ios-background-2.jpg");
    width: 100%;
    height: auto;
    display: flow-root;
    margin-top: 100px;
    padding: 80px 0px;
    z-index: 999;
}
.div02 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0px 8px;
    margin: 0px 0px 60px;
}
.div03 {
    /* font-family:monospace; */
    font-size: 28px;
    color:  #D8D8D8;
    text-shadow: 0 0 2px #222, 0 0 2px #222;
    text-align: center;
    /* margin-top: 20px; */
    width: 100%;
    margin-bottom: 30px;
}
.bgcolor {
    background-color: #e7e7e7 !important;
    display: flow-root;
}
.div04 {
    text-align: center;
    /* margin-top: 80px; */
    font-size: 55px;
    font-weight: 700;
    margin: 0px 0px 0px;
    /* padding: 0px 30px; */
    color: #444;
    font-family: 'Roboto Condensed', sans-serif;
}
.bgbody {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background-color: #f5f5f5;
}